/01-docker-sql-terraform/ny_taxi_postgres_data
/01-docker-sql-terraform/.ipynb_checkpoints
/01-docker-sql-terraform/terrademo/keys
/01-docker-sql-terraform/terrademo/.terraform
/01-docker-sql-terraform/terraform-demo-449904-0f6ce6e3fce8.json
/GCP_Keys
*/Downloads

terraform.*
*.terraform*
*.~lock*
*key*
*Key*
*.mp3
*.mp4
*.parquet
*.csv

